body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #29ab87;
  padding:30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.nav {
  width: 250px;
  float: left;
  padding: 15px;
}

.nav a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #ccc;
}

.nav.active {
  background-color: #4CAF50;
  color: white;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #ffffff;
}


section:after {
  content: "";
  display: table;
  clear: both;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

footer {
  background-color: #29ab87;
  padding: 10px;
  text-align: center;
  color: white;
  height: 100px;
}

